{*
Copyright 2013-2018 Nick Korbel

This file is part of Booked Scheduler.

Booked Scheduler is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Booked Scheduler is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Booked Scheduler.  If not, see <http://www.gnu.org/licenses/>.
*}
Zmeškali jste potvrzení rezervace.<br/>
Údaje o rezervaci:
	<br/>
	<br/>
	Začátek: {formatdate date=$StartDate key=reservation_email}<br/>
	Konec: {formatdate date=$EndDate key=reservation_email}<br/>
	Zdroj: {$ResourceName}<br/>
	Název: {$Title}<br/>
	Popis: {$Description|nl2br}
    {if $IsAutoRelease}
        <br/>
        Pokud ji nepotvrdíte, bude tato rezervace automaticky zrušena v {formatdate date=$AutoReleaseTime key=reservation_email}
    {/if}
<br/>
<br/>
<a href="{$ScriptUrl}/{$ReservationUrl}">Zobrazit rezervaci</a> |
<a href="{$ScriptUrl}">Přihlásit se do {$AppTitle}</a>
